<div class="container">
  <div class="row">
    <%= render 'layouts/errors', obj: post %>
  </div>
</div>

<table class='container'>
  <%= form_with model: post do |f| %>
  <tbody>
    <tr class="row mb-2">
      <td class="offset-1 col-3"><%= f.label :shop_name, '店舗名' %></td>
      <td class="col-8"><%= f.text_field :shop_name, autofocus: true, placeholder: '店舗名を入力してください',style: 'width: 100%' %></td>
    </tr>
    <tr class="row mb-2">
      <td class="offset-1 col-3"><%= f.label :image, '投稿写真' %></td>
      <td class="col-8"><%= f.file_field :image, accept: 'image/*',style: 'width: 100%' %></td>
    </tr>
    <tr class="row mb-3">
      <td class="offset-1 col-3"><%= f.label :body, '投稿内容' %></td>
      <td class="col-8"><%= f.text_field :body, placeholder: '投稿内容を入力してください',style: 'width: 100%' %></td>
    </tr>
    <tr class="row">
      <% if f.object.persisted? %>
        <td class="col-3 offset-2">
          <%= f.submit "変更を保存する", class: 'btn btn-block btn-success' %>
        </td>
        <td class ="col-3 offset-1">
          <%= link_to '変更を破棄する', post_path(post), class: 'btn btn-block btn-danger' %>
        </td>
      <% else %>
        <td class="col-4 offset-3"><%= f.submit "新規投稿", class: 'btn btn-block btn-success' %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>