<div class="container">
  <div class="row my-3">
    <%= render 'layouts/errors', obj: post %>
  </div>
  
  <div class="container col-10 mx-auto">
    <%= form_with model: post do |f| %>
      <div class="row mb-2">
        <div class="col-3">店舗名</div>
        <div class="col-9"><%= f.text_field :shop_name, autofocus: true, class: "form-control w-100 px-2 py-1", placeholder: '店舗名を入力してください' %></div>
      </div>
      <div class="row mb-2" style='height: 38px'>
        <div class="col-3">投稿写真</div>
        <div class="col-9"><%= f.file_field :image, class: "w-100 py-1", accept: 'image/*' %></div>
      </div>
      <div class="row mb-4">
        <div class="col-3"><%= f.label :body, '投稿内容' %></div>
        <div class="col-9"><%= f.text_field :body, class: "form-control w-100 px-2 py-1", placeholder: '投稿内容を入力してください' %></div>
      </div>
      <div class="row">
        <% if f.object.persisted? %>
          <div class="col-4 offset-1">
            <%= f.submit "変更を保存する", class: 'btn btn-block btn-success' %>
          </div>
          <div class ="col-4 offset-1">
            <%= link_to '変更を破棄する', post_path(post), class: 'btn btn-block btn-danger' %>
          </div>
        <% else %>
          <div class="col-3 offset-4"><%= f.submit "新規投稿", class: 'btn btn-block btn-success' %></div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>