<!--h1>Public::Posts#show</h1-->
<div class="container">
  <div class="row my-3">
    <h2>投稿詳細画面</h2>
  </div>
  <div class="row">
    <div class="col-3 offset-1">
      <%= image_tag @post.image, size: "200x200" %>
    </div>
    <table class="col-8">
      <tr>
        <th class="col-4">投稿ユーザー</th>
        <td class="col-8"><%= link_to @post.user.name,user_path(@post.user_id) %></td>
      </tr>
      <tr>
        <th class="col-4">店舗名</th>
        <td class="col-8"><%= @post.shop_name %></td>
      </tr>
      <tr>
        <th class="col-4">投稿内容</th>
        <td class="col-8"><%= @post.body %></td>
      </tr>
      <tr>
        <th class='col-4'>いいね数</td>
        <td class='col-2'>
          <% if @post.user == current_user || current_user.guest_user? %>
            ♥<%= @post.favorites.count %>
          <% else %>
            <% if @post.favorited_by?(current_user) %>
              <%= link_to "♥#{@post.favorites.count}", post_favorites_path(@post), method: :delete, style: 'color: red' %>
            <% else %>
              <%= link_to "♥#{@post.favorites.count}", post_favorites_path(@post), method: :post %>
            <% end %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th class='col-3'>コメント数</td>
        <td class='col-3'><%= @post.comments.count %></td>
      </tr>
    </table>
  </div>

  <div class="row my-4">
    <% if @post.user == current_user %>
      <div class="offset-2 col-3"><%= link_to '編集する', edit_post_path(@post), class: 'btn btn-block btn-success' %></div>
      <div class="offset-1 col-3"><%= link_to '削除する', post_path(@post), method: :delete, class: 'delete-link btn btn-block btn-danger' %></div>
    <% end %>
  </div>
  <div class="row mb-2">
    <%= render 'public/comments/index', post: @post %>
  </div>
  <% unless current_user.guest_user? %>
    <%= render 'public/comments/comment', post: @post, comment: @comment %>
  <% end %>
</div>