<!--h1>Shop::Shops#edit</h1-->
<div class="container">
  <div class="row my-3">
    <h2><%= @restrant.name %>の店舗情報編集画面</h2>
  </div>
  <div class="row">
    <%= render 'layouts/errors', obj: @restrant %>
  </div>
  
  <div class="container col-10 mx-auto">
    <%= form_with model: @restrant, url: shop_information_path do |f| %>
    <div class="row mb-2">
      <div class="col-3">店舗名</div>
      <div class="col-7"><%= f.text_field :name, autofocus: true, class: "form-control w-100 px-2 py-1" %></div>
    </div>
    <div class="row mb-2">
      <div class="col-3">電話番号(ハイフンなし)</div>
      <div class="col-7"><%= f.text_field :telephone_number, placeholder: '00000000000', class: "form-control w-100 px-2 py-1" %></div>
    </div>
    <div class="row mb-4">
      <div class="col-3">住所</div>
      <div class="col-7"><%= f.text_field :address, placeholder: '東京都渋谷区代々木神園町0-0', class: "form-control w-100 px-2 py-1" %></div>
    </div>
    <div class="row">
      <div class="col-3 offset-2"><%= f.submit '変更を保存する', class: 'btn btn-block btn-success' %></div>
      <div class='col-3 offset-1'><%= link_to '変更を破棄する', shop_mypage_path, class: 'btn btn-block btn-danger' %></div>
    </div>
    <% end %>
  </div>
</div>