<!--h4>Admin#sessions</h4-->
<div class="container">
  <div class="row my-3">
    <h2>管理者ログイン</h2>
  </div>
  <%= form_with(model: resource, local: true, url: session_path(resource_name)) do |f| %>
  <!--<#%= render 'admin/error_messages', resource: resource %>-->
  <table class="container col-8 mx-auto">
    <tr class="row mb-2">
      <td class="col-4"><%= f.label :email,"メールアドレス" %></td>
      <td class="col-8"><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'sample@exsample.com',style:'width: 100%' %></td>
    </tr>
    <tr class="row mb-4">
      <td class="col-4"><%= f.label :password,"パスワード" %></td>
      <td class="col-8"><%= f.password_field :password, autocomplete: "current-password",style:'width: 100%' %></td>
    </tr>
    <tr class="row mb-4">
      <td class="col-4 offset-3"><%= f.submit "ログイン",class:'btn btn-block btn-info' %></td>
    </tr>
  </table>
<% end %>
<div class="row mt-5">
  <%= render "admin/shared/links" %>
</div>