<div class="container">
<!--h1>Homes#top</h1-->
<div class="row my-3">
  <h2>きょうのごはん</h2>
</div>
  <% if user_signed_in? %>
    <div class="row-my-2">
      <%= link_to 'ログアウトはこちらから', destroy_user_session_path, method: :delete, class: 'delete-link' %>
    </div>
  <% else %>
    <div class="row my-5">
      <div class='col-4'>
        <%= link_to 'お試しはこちらから', users_guest_sign_in_path, method: :post, class: 'btn-block btn btn-outline-secondary' %>
      </div>
      <div class='col-4'>
        <%= link_to '新規登録はこちらから', new_user_registration_path, class: 'btn btn-block btn-outline-success' %>
      </div>
      <div class='col-4'>
        <%= link_to '登録済みの方はこちらから', new_user_session_path, class: 'btn btn-block btn-outline-info' %>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-4 offset-2">
        <%= link_to '店舗登録', shop_path ,class: 'btn btn-block btn-outline-warning' %>
      </div>
      <div class="col-4">
        <%= link_to '管理者サイト', admin_path ,class: 'btn btn-block btn-outline-danger' %>
      </div>
    </div>
  <% end %>
</div>