<table class="table">
  <thead>
    <th class="col">日付</th>
    <th class="col">時間</th>
    <th class="col">名前</th>
    <th class="col">人数</th>
    <th class="col">ステータス</th>
  </thead>
  <tbody>
  <% reservations.each do |reservation| %>
    <%= link_to shop_reservation_path(reservation) do %>
      <td class="col"><%= reservation.date %></td>
      <td class="col"><%= reservation.time %></td>
      <td class="col"><%= reservation.name %></td>
      <td class="col"><%= reservation.member %></td>
      <td class="col"><%= reservation.status %></td>
    <% end %>
  <% end %>  
  </tbody>
</table>