<!--h1>Public::Reservations#index</h1-->
<div class='container'>
  <div class='row my-3'>
    <h2><%= @user.name %>さんの予約一覧画面</h2>
    <div class="col-2 ml-auto">
      <%= link_to '店舗一覧へ', restrants_path, class: 'btn btn-block btn-primary' %>
    </div>
  </div>
  <table class="table col-11 mx-auto">
    <thead>
      <tr class="row">
        <th class="col-1"></th>
        <th class="col-2">店舗名</th>
        <th class="col-2">日時</th>
        <th class="col-2">人数</th>
        <th class="col-2">電話番号<th>
        <th class="col-2">ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @reservations.each do |reservation| %>
        <tr class="row mb-2">
          <td class="col-1"><%= link_to '>', reservation_path(reservation) %></td>
          <td class="col-2"><%= link_to reservation.restrant.name, restrant_path(reservation.restrant) %></td>
          <td class="col-2"><%= reservation.date %></td>
          <td class="col-2"><%= reservation.member %>人</td>
          <td class="col-2"><%= reservation.restrant.telephone_number %></td>
          <td class="col-2"><%= reservation.status_i18n %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>