<!--h1>Public::Reservations#index</h1-->
<div class='container'>
  <div class='row my-3'>
    <h2><%= @user.name %>さんの予約一覧画面</h2>
    <div class="col-2 ml-auto">
      <%= link_to '店舗一覧へ', restrants_path, class: 'btn btn-block btn-primary' %>
    </div>
  </div>
  <table class="table col-11 mx-auto mt-5">
    <thead>
      <tr class="row">
        <th class="col-1 offset-1"></th>
        <th class="col-2">店舗名</th>
        <th class="col-2">日時</th>
        <th class="col-2">人数</th>
        <th class="col-2">電話番号</th>
        <th class="col-2">ステータス</th>
      </tr>
    </thead>
    <tbody>
    <% @reservations.each do |reservation| %>
      <% if reservation.status != 'before_reservation' %>
        <tr class="row" style="background-color: #808080">
          <td class="col-1 offset-1"><%= link_to '>', reservation_path(reservation),style: 'color: white' %></td>
          <td class="col-2"><%= link_to reservation.restrant.name, restrant_path(reservation.restrant),style: 'color: white' %></td>
      <% else %>
        <tr class="row">
          <td class="col-1 offset-1"><%= link_to '>', reservation_path(reservation) %></td>
          <td class="col-2"><%= link_to reservation.restrant.name, restrant_path(reservation.restrant) %></td>
      <% end %>
          <td class="col-2"><%= reservation.date %></td>
          <td class="col-2"><%= reservation.member %>人</td>
          <td class="col-2"><%= reservation.restrant.telephone_number %></td>
          <td class="col-2">
            <% if reservation.status == 'before_reservation' %>
              <p style="color: green; margin-bottom: 0"><%= reservation.status_i18n %></p>
            <% elsif reservation.status == 'cancel' %>
              <p style="color: white; margin-bottom: 0"><%= reservation.status_i18n %></p>
            <% elsif reservation.status == 'completed' %>
              <p style="color: black; margin-bottom: 0"><%= reservation.status_i18n %></p>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <div class="row">
    <div class="col-12"><%= paginate @reservations %></div>
  </div>
</div>