<!--h1>Public::Reservations#show</h1-->
<div class ="container">
  <div class ="row my-3">
    <h3>予約詳細画面</h3>
  </div>
  <table class="table col-10 mx-auto mt-5">
    <tr class="row mb-2">
      <th class="col-3 offset-2">店舗名</th>
      <td class="col-5"><%= @reservation.restrant.name %></td>
    </tr>
    <tr class="row mb-2">
      <th class="col-3 offset-2">日時</th>
      <td class="col-5"><%= @reservation.date %></td>
    </tr>
    <tr class="row mb-2">
      <th class="col-3 offset-2">人数</th>
      <td class="col-5"><%= @reservation.member %>人</td>
    </tr>
    <tr class="row">
      <th class="col-3 offset-2">ステータス</th>
      <td class="col-5">
        <% if @reservation.status == 'before_reservation' %>
          <p style="color: green; margin-bottom: 0"><%= @reservation.status_i18n %></p>
        <% elsif @reservation.status == 'cancel' %>
          <p style="color: gray; margin-bottom: 0"><%= @reservation.status_i18n %></p>
        <% elsif @reservation.status == 'completed' %>
          <p style="color: black; margin-bottom: 0"><%= @reservation.status_i18n %></p>
        <% end %>
      </td>
    </tr>
    <% unless @reservation.date.past? %>
      <tr class="row">
        <td class="col-8 offset-2">キャンセルは<%= @reservation.restrant.telephone_number %>に前日までに</td>
      </tr>
    <% end %>
  </table>
  <div class="row mt-5">
    <div class="offset-2 col-3">
      <%= link_to '予約一覧に戻る', reservations_path, class: 'btn btn-block btn-info' %>
    </div>
    <div class="offset-1 col-3">
      <%= link_to '店舗一覧へ', restrants_path, class: 'btn btn-block btn-primary' %>
    </div>
  </div>
</div>