<h1>Shop::Sessions#new</h1>
<h2>店舗ログイン</h2>

<%= form_with(model: resource, local: true, url: session_path(resource_name)) do |f| %>
<%= render "shop/shared/error_messages", resource: resource %>
  <table>
    <tr>
      <td><%= f.label :email,"メールアドレス" %></td>
      <td><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'sample@exsample.com' %></td>
    </tr>
    <tr>
      <td><%= f.label :password,"パスワード" %></td>
      <td><%= f.password_field :password, autocomplete: "current-password" %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= f.submit "ログイン" %></td>
    </tr>
  </table>
<% end %>

<%= render "shop/shared/links" %>