<!--h1>Admin::Shops#show</h1-->
<div class="container">
  <div class="row my-3">
    <h2><%= @restrant.name %>の店舗詳細</h2>
  </div>
  <table class="container col-8 mx-auto mt-4">
  <tr class="row mb-2">
    <td class="offset-1 col-3">店舗名</td>
    <td class="col-8"><%= @restrant.name %></td>
  </tr>
  <tr class="row mb-2">
    <td class="offset-1 col-3">メールアドレス</td>
    <td class="col-8"><%= @restrant.email %></td>
  </tr>
  <tr class="row mb-2">
    <td class="offset-1 col-3">電話番号</td>
    <td class="col-8"><%= @restrant.telephone_number %></td>
  </tr>
  <tr class="row mb-2">
    <td class="offset-1 col-3">住所</td>
    <td class="col-8"><%= @restrant.address %></td>
  </tr>
  <tr class="row mb-4">
    <td class="offset-1 col-3">営業状況</td>
    <td class="col-8">
      <% if @restrant.is_open %>
        <p style="color: green">営業中</p>
      <% else %>
        <p style="color: gray">退会済</p>
      <% end %>
    </td>
  </tr>
  <tr class='row'>
    <td class="col-4"><%= link_to '編集する', edit_admin_restrant_path ,class:'btn btn-block btn-success' %></td>
    <td class="col-4 offset-1"><%= link_to '一覧に戻る', admin_restrants_path, class: 'btn btn-block btn-secondary' %></td>
  </tr>
</table>
</div>