<div class="container">
  <div class="row mb-2">
    <div class="col-4">名前</div>
    <div class="col-8"><%= user.name %></div>
  </div>
  <div class="row mb-2">
    <div class="col-4">メールアドレス</div>
    <div class="col-8"><%= user.email %></div>
  </div>
  <div class="row mb-2">
    <div class="col-4">自己紹介</div>
    <div class="col-8"><%= user.indivoduction %></div>
  </div>
  <div class="row mb-4">
    <div class="col-4">会員ステータス</div>
    <div class="col-8">
      <% if user.is_active %>
        <p style="color: green; margin-bottom: 0">有効</p>
      <% else %>
        <p style="color: gray; margin-bottom: 0">退会済</p>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-4"><%= link_to '編集する', edit_admin_user_path(user), class: 'btn btn-block btn-info' %></div>
    <div class="col-4 offset-1"><%= link_to '一覧に戻る', admin_users_path, class: 'btn btn-block btn-secondary' %></div>
  </div>
</div>