<!--h1>Public::Users#edit</h1-->
<div class="container">
  <div class="row my-3">
    <h2>ユーザー情報編集画面</h2>
  </div>
  
<%= form_with model: @user, local:true do |f| %>
  <div class="row mb-2">
    <div class="offset-1 col-2"><%= f.label :profile_image, 'プロフィール画像' %></div>
    <div class="col-8"><%= f.file_field :profile_image, class: "form-control-file user_image", accept: 'image/*',style: 'width: 100%' %></div>
  </div>
  <div class="row mb-2">
    <div class="offset-1 col-2"><%= f.label :email, 'メールアドレス' %></div>
    <div class="col-8"><%= f.email_field :email, autofocus: true, class: "form-control email", autocomplete: "email",style: 'width: 100%' %></div>
  </div>
  <div class="row mb-2">
    <div class="offset-1 col-1"><%= f.label :family_name, "名字" %></div>
    <div class="offset-1 col-3"><%= f.text_field :family_name, class: "form-control name",style: "width: 100%" %></div>
    <div class="col-1"><%= f.label :first_name, "名前" %></div>
    <div class="col-3"><%= f.text_field :first_name, class: "form-control name",style: "width: 100%" %></div>
  </div>
  <div class="row mb-2">
    <div class="offset-1 col-2"><%= f.label :name,'ニックネーム' %></div>
    <div class="col-8"><%= f.text_field :name, class: "form-control name",style: 'width:100%' %></div>
  </div>
  <div class="row mb-4">
    <div class="offset-1 col-2"><%= f.label :introduction, '自己紹介文' %></div>
    <div class="col-8"><%= f.text_area :introduction, placeholder: '自己紹介文を入力してください(任意)', class: "form-control introduction",style: 'width: 100%' %></div>
  </div>
  <div class="row">
    <div class="col-3 offset-2"><%= f.submit '変更を保存する', class: 'btn btn-block btn-success' %></div>
    <div class="col-3 offset-1"><%= link_to '変更を破棄する', mypage_path, class:'btn btn-block btn-danger' %></div>
  </div>
<% end %>
</div>