<div class='container'>
  <div class='row'>
    <% if user_signed_in? %>
    <!-- ユーザーログイン時の表示 -->
      <div class='col-2'><%= link_to 'logo', root_path %></div>
      <div class='col-2 offset-md-2'>ようこそ、<%= current_user.name %>さん！</div>
      <div class='col-2'><%= link_to '新規投稿', new_post_path , class: 'menu-button' %></div>
      <div class='col-2'><%= link_to 'マイページ', mypage_path, class: 'menu-button' %></div>
      <div class='col-2'><%= link_to '投稿一覧', posts_path, class: 'menu-button' %></div>
      <div class='col-2'><%= link_to 'ログアウト', destroy_user_session_path , method: :delete, class: 'delete-link' %></div>
  <% elsif restrant_signed_in? %>
    <!-- 店舗ログイン時の表示 -->
    
    <div class='col-2'><%= link_to 'logo', shop_path %></div>
    <div class='col-4 offset-1'><p>Shop Page</p></div>
    <div class='col-2 offset-1'><%= link_to '予約一覧', shop_reservations_path , class: 'menu-button' %></div>
    <div class='col-2'><%= link_to 'マイページ', shop_mypage_path , class: 'menu-button' %></div>
    <div class='col-2'><%= link_to 'ログアウト', destroy_restrant_session_path , method: :delete, class: 'delete-link' %></div>
  <% elsif admin_signed_in? %>
    <!-- 管理者ログイン時の表示 -->
    <p>こちらは管理者ページです</p>
    <ul>
      <li><%= link_to 'logo', admin_path %></li>
      <li><%= link_to '投稿一覧', admin_posts_path , class: 'menu-button' %></li>
      <li><%= link_to '会員一覧', admin_users_path , class: 'menu-button' %></li>
      <li><%= link_to '店舗一覧', admin_restrants_path , class: 'menu-button' %></li>
      <li><%= link_to 'ログアウト', destroy_admin_session_path , method: :delete, class: 'delete-link' %></li>
    </ul>
  <% else %>
    <!-- ログイン前の表示 -->
    <ul>
      <li><%= link_to 'logo', root_path %></li>
      <li><%= link_to 'About', about_path, class: 'menu-button' %></li>
      <li><%= link_to 'マイページ', posts_path , class: 'menu-button' %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: 'menu-button' %></li>
      <li><%= link_to 'ログイン', new_user_session_path, class: 'menu-button' %></li>
    </ul>
  <% end %>
  </div>
</div>