<div class="container-fulid">
  <% if user_signed_in? %>
  <!-- ユーザーログイン時の表示 -->
    <nav class="row navbar" style='background-color: #64F0FF'>
      <div class='col-2'><%= link_to 'logo', mypage_path, class: 'btn btn-block btn-outline-dark' %></div>
      <div class='col-2 offset-2'><%= link_to '会員一覧', users_path, class: 'btn btn-block btn-outline-dark' %></div>
      <div class='col-2'><%= link_to '店舗一覧', restrants_path, class: 'btn btn-block btn-outline-dark' %></div>
      <div class='col-2'><%= link_to '投稿一覧', posts_path, class: 'btn btn-block btn-outline-dark' %></div>
      <div class='col-2'><%= link_to 'ログアウト', destroy_user_session_path , method: :delete, class: 'btn btn-block btn-outline-dark' %></div>
      <% if flash[:notice] %>
        <div class="col-4 mt-2 offset-1">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <!--<div class="col-4 ml-auto mt-2" style="width: 100%">検索</div>-->
    </nav>
  <% elsif restrant_signed_in? %>
    <!-- 店舗ログイン時の表示 -->
    <nav class="row navbar" style='background-color: #00E6B4'>
      <div class='col-2'><%= link_to 'logo', shop_path, class: 'btn btn-block btn-outline-dark' %></div>
      <div class='col-2 offset-4'><!--<#%= link_to '予約一覧', shop_reservations_path, class: 'btn btn-block btn-outline-dark' %>--></div>
      <div class='col-2'><%= link_to 'マイページ', shop_mypage_path, class: 'btn btn-block btn-outline-dark' %></div>
      <div class='col-2'><%= link_to 'ログアウト', destroy_restrant_session_path , method: :delete, class: 'btn btn-block btn-outline-dark' %></div>
      <% if flash[:notice] %>
        <div class="col-4 mt-2 offset-1">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <!--<div class="col-4 ml-auto mt-2" style="width: 100%">検索</div>-->
    </nav>
  <% elsif admin_signed_in? %>
    <!-- 管理者ログイン時の表示 -->
    <nav class="row navbar" style='background-color: #D2AAF0'>
      <div class="col-2"><%= link_to 'logo', admin_path, class: 'btn btn-block btn-outline-dark' %></div>
      <div class="col-2 offset-2"><%= link_to '投稿一覧', admin_posts_path, class: 'btn btn-block btn-outline-dark' %></div>
      <div class="col-2"><%= link_to '会員一覧', admin_users_path, class: 'btn btn-block btn-outline-dark' %></div>
      <div class="col-2"><%= link_to '店舗一覧', admin_restrants_path, class: 'btn btn-block btn-outline-dark' %></div>
      <div class="col-2"><%= link_to 'ログアウト', destroy_admin_session_path , method: :delete, class: 'btn btn-block btn-outline-dark' %></div>
      <% if flash[:notice] %>
        <div class="col-4 mt-2 offset-1">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <!--<div class="col-4 ml-auto mt-2" style="width: 100%">検索</div>-->
    </nav>
  <% else %>
    <!-- ログイン前の表示 -->
    <nav class="row navbar" style='background-color: #FFC0DF'>
      <div class="col-2"><%= link_to 'logo', root_path, class: 'btn btn-block btn-outline-dark' %></div>
      <div class="col-2 offset-2"><%= link_to 'About', about_path, class: 'btn btn-block btn-outline-dark' %></div>
      <div class="col-2"><%= link_to '投稿一覧', posts_path, class: 'btn btn-block btn-outline-dark' %></div>
      <div class="col-2"><%= link_to '新規登録', new_user_registration_path, class: 'btn btn-block btn-outline-dark' %></div>
      <div class="col-2"><%= link_to 'ログイン', new_user_session_path, class: 'btn btn-block btn-outline-dark' %></div>
      <% if flash[:notice] %>
        <div class="col-4 mt-2 offset-1">
          <%= flash[:notice] %>
        </div>
      <% end %>
    </nav>
  <% end %>
</div>